@font-face {
    font-family: 'LemonMilk';
    src: url('../fonts/LEMONMILK-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

body
{
    height: 800px;
    background: linear-gradient(to bottom, #FFFFFF, #DEEDF1, #9CBEC7, #145F74);
    overflow: hidden;
}

.logo-container
{
    width: 430px;
    height: 70px;
    position: relative;
    overflow: hidden;
    margin: 10% auto 0;
}

.logo-container img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#catch-phrase
{
    font-size: 20px;
    font-family: 'LemonMilk';
    font-weight: normal;
    width: fit-content;
    margin: 0 auto;
    margin-top: 15%;
}

.loadingwheel
{
    width: 100px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 1%;
}

.loadingwheel .bar
{
    width: 5px;
    height: 0px;
    background-color: #145F74;
    animation: animateBars var(--dur, 1s) ease-in-out var(--delay, 0s) infinite alternate;
}

@keyframes animateBars
{
    0% {height: 0px;}
    10%   { height: var(--min); }
    20%  { height: calc((var(--min) + var(--max)) * 0.35); }
    45%  { height: calc((var(--min) + var(--max)) * 0.8); }
    70%  { height: calc((var(--min) + var(--max)) * 0.25); }
    80% { height: var(--max); }
    100% {height: 0px;}
}

.loadingwheel.ready
{
    display: none;
}

#catch-phrase.ready
{
    margin-top: 5%;
}