@font-face {
    font-family: 'LemonMilk';
    src: url('../fonts/LEMONMILK-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ausion';
    src: url('../fonts/AusionPersonalUse.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #FFFFFF, #DEEDF1, #9CBEC7, #145F74);
    overflow: hidden;
    font-family: 'LemonMilk', sans-serif;
}

.logo-container {
    width: min(80vw, 430px);
    position: relative;
    overflow: hidden;
    margin: 10vh auto 0;
}

.logo-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#catch-phrase {
    font-size: 20px;
    font-family: 'LemonMilk';
    font-weight: normal;
    width: fit-content;
    margin: 3vh auto 0;
    text-align: center;
}

.login-part {
    width: 100%;
    max-width: 430px;
    margin: 3vh auto 0;
    padding: 0 1rem;
}

#password-field,
#login-button {
    margin-top: 3%;
}

.password-wrapper {
    position: relative;
    width: 100%;
    max-width: 430px;
}

.show-password-vector
{
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #145F74;
}

#password-field,
#email-field,
#login-button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

#email-field,
#password-field {
    font-family: 'Ausion';
    font-weight: normal;
    font-size: 1.2rem;
    background: transparent;
    border: 3px solid #145F74;
    color: #3C616A;
}

#email-field:focus,
#password-field:focus {
    outline: none;
    border-color: #145F74;
    color: #145F74;
}

#email-field::placeholder,
#password-field::placeholder {
    font-family: 'LemonMilk';
    font-size: 12px;
    color: #3C616A;
}

.login-part p,
.login-part a {
    font-family: 'LemonMilk';
    font-size: 12px;
    width: fit-content;
    margin: 3% auto 0;
}

#error-message-popup {
    color: #6d151e;
    width: min(80vw, 300px);
    margin: 1rem auto 0;
    font-family: 'LemonMilk';
    font-size: 12px;
    text-align: center;
}

#login-button {
    border: none;
    background: #145F74;
    color: #FFFFFF;
    font-family: 'LemonMilk';
    transition: 0.5s;
}

#login-button:hover {
    background: #071F25;
}

a {
    text-decoration: none;
    color: #145F74;
    transition: 0.5s;
    cursor: pointer;
}

a:hover {
    color: #071F25;
}

@media (max-width: 480px) {
    #catch-phrase {
        font-size: 16px;
    }

    #email-field::placeholder,
    #password-field::placeholder {
        font-size: 11px;
    }
}
