@font-face {
    font-family: 'LemonMilk';
    src: url('../fonts/LEMONMILK-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

body
{
    height: 800px;
    background: linear-gradient(to bottom, #FFFFFF, #DEEDF1, #9CBEC7, #145F74);
    overflow: hidden;
}

.logo-container
{
    width: 430px;
    height: 70px;
    position: relative;
    overflow: hidden;
    margin: 10% auto 0;
}

.logo-container img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#catch-phrase
{
    font-size: 20px;
    font-family: 'LemonMilk';
    font-weight: normal;
    width: fit-content;
    margin: 3% auto 0;
}

.login-part
{
    width: fit-content;
    margin: 3% auto 0;
}

#password-field, #login-button
{
    margin-top: 3%;
}

#password-field, #email-field, #login-button
{
    width: 430px;
    height: 40px;
    border-radius: 5px;
}

#email-field, #password-field
{
    font-weight: bold;
    background: transparent;
    border: 3px solid #145F74;
    color: #3C616A;
}

#email-field:focus, #password-field:focus
{
    outline: none;
    border-color: #145F74;
    color: #145F74;
}

#email-field::placeholder, #password-field::placeholder
{
    font-family: 'LemonMilk';
    font-size: 12px;
    color: #3C616A;
}

.login-part p, a
{
    font-family: 'LemonMilk';
    font-size: 12px;
    width: fit-content;
    margin: 3% auto 0;
}

#error-message-popup
{
    color: #6d151e;
}

#login-button
{
    border:none;
    background: #145F74;
    color: #FFFFFF;
    font-family:'LemonMilk';
    transition: 0.5s;
}

#login-button:hover
{
    background: #071F25;
}

a
{
    text-decoration: none;
    color: #145F74;
    transition: 0.5s;
    cursor: pointer;
}

a:hover
{
    color: #071F25;
}