.driver-status,
.driver-status-text {
    width: 100%;
    padding: 0.4rem 0.8rem;
    border-radius: 50px;
    border: 2px solid #145F74;
    background-color: transparent;
    color: black;
    font-family: 'LemonMilk', sans-serif;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    cursor: pointer;
    transition: 0.7s ease;

    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 16px 16px;
    padding-left: 2rem;
}

.driver-status:focus
{
    border-radius: 15px 15px 0 0;
}

.driver-status {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.driver-status option {
    color: black;
}

.driver-status-text span {
    flex: 1;
}
