.driver-status {
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  font-weight: bold;
  font-size: 24px;
}
