@using ApiContracts.Enums
@using BlazorFleetApp.Services.Auth
@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorFleetApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        
        <div class="nav-item px-3">
            @if (userRole == UserRole.Driver)
            {
                <NavLink class="nav-link" href="driver-home" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            }
            else if  (userRole == UserRole.Dispatcher)
                 {
                     <NavLink class="nav-link" href="dispatcher-home" Match="NavLinkMatch.All">
                         <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                     </NavLink>
                 }
            else
            {
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            }
        </div>
        @if (@companyRole.Equals("OwnerOperator"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manage-company">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Company
                </NavLink>
            </div>
        }
        @if (userRole == UserRole.Dispatcher)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manage-account-dispatcher">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Account
                </NavLink>
            </div>
        }
        @if (userRole == UserRole.Dispatcher)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="create-job">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Create Job
                </NavLink>
            </div>
        }
        @if (userRole == UserRole.Dispatcher)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="my-drivers">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> My Drivers
                </NavLink>
            </div>
        }
        @if (userRole == UserRole.Dispatcher)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manage-job">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Job
                </NavLink>
            </div>
        }
        @if (userRole == UserRole.Driver)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manage-account-driver">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manage Account
                </NavLink>
            </div>
        }
        @if (userRole == UserRole.Driver)
        {
            <div class="nav-item px-4 mt-auto">
                <DriverStatusComponent></DriverStatusComponent>
            </div>
        }
        
        @if (userRole == UserRole.Dispatcher)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="recruit-driver">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Recruit Driver
                </NavLink>
            </div>
        }
        <!-- Logout button at the end -->
        <div class="nav-item px-3 mt-auto">
            <button class="btn btn-outline-light w-100" @onclick="LogoutAsync">
                <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
            </button>
        </div>
    </nav>
</div>

@code {
    [Inject] private NavigationManager NavMgr { get; set; }
    [Inject] private IAuthService AuthService { get; set; }
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private string companyRole= "your company role";
    private UserRole userRole;
    private async Task LogoutAsync()
    {
        await AuthService.LogoutAsync(); // call your service to remove tokens / auth
        NavMgr.NavigateTo("/login"); // redirect to login page
    }
    protected override async Task OnInitializedAsync()
    {
        if (State != null)
        {
            var authState = await State;
            var user = authState.User;

            if (user?.Identity?.IsAuthenticated ?? false)
            {
                companyRole = user.Claims.FirstOrDefault(c => c.Type == "CompanyRole")?.Value ?? "your company role";
                var roleClaim = user.FindFirst("Role")?.Value;
                if (!string.IsNullOrEmpty(roleClaim) &&
                    Enum.TryParse<UserRole>(roleClaim, true, out var parsedRole))
                {
                    userRole = parsedRole;
                }
            }
        }
    }
}
