@using ApiContracts.Enums
@using BlazorFleetApp.Services.Auth
@using Microsoft.AspNetCore.Components.Authorization

<div class="top-bar">
    <div class="logo-container">
        <img src="@_logoSource" alt="Logo">
    </div>
    
    <div class="nav-bar">
        
        <div class="nav-link">
            <NavLink href="@_homeLink" class="nav-item">Home</NavLink>
            <div class="pop-up-line"></div>
        </div>
        
        @if (userRole == UserRole.Dispatcher)
        {
            <div class="nav-link">
                <NavLink href="create-job" class="nav-item">Create Job</NavLink>
                <div class="pop-up-line"></div>
            </div>
        }
        
        @if (userRole == UserRole.Dispatcher)
        {
            <div class="nav-link">
                <NavLink href="manage-job" class="nav-item">Manage Job</NavLink>
                <div class="pop-up-line"></div>
            </div>
        }
        
        @if (userRole == UserRole.Dispatcher)
        {
            <div class="nav-link">
                <NavLink href="dispatcher-job-list" class="nav-item">My Jobs</NavLink>
                <div class="pop-up-line"></div>
            </div>
        }
        
        @if (userRole == UserRole.Dispatcher)
        {
            <div class="nav-link">
                <NavLink href="recruit-driver" class="nav-item">Recruit Driver</NavLink>
                <div class="pop-up-line"></div>
            </div>
        }
        
    </div>
    
    <div class="right-side-things">
        @if (userRole == UserRole.Driver)
        {
            <DriverStatusComponent></DriverStatusComponent>
        }
        
        @if (userRole == UserRole.Dispatcher)
        {
            <p>Ready to Dispatch?</p>
        }
        
        <ProfileMenu></ProfileMenu>
    </div>
</div>

@code {
    [Inject] private NavigationManager NavMgr { get; set; }
    [Inject] private IAuthService AuthService { get; set; }
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private bool isLoading = true;
    private string _homeLink = "";
    private string _manageAccountLink = "";
    private string _logoSource = "images/";
    private string _profilePictureSource = "";
    private string _selected = "";
    private UserRole userRole;
    
    protected override async Task OnInitializedAsync()
    {
        if (State != null)
        {
            var authState = await State;
            var user = authState.User;

            if (user?.Identity?.IsAuthenticated ?? false)
            {
                _profilePictureSource = user.Claims.FirstOrDefault(c => c.Type == "PhotoUrl")?.Value ?? "";
                var roleClaim = user.FindFirst("Role")?.Value;
                if (!string.IsNullOrEmpty(roleClaim) &&
                    Enum.TryParse<UserRole>(roleClaim, true, out var parsedRole))
                {
                    userRole = parsedRole;
                }
            }
        }
        
        SetRoleSpecificSourcesAndProfile(userRole);

        isLoading = false;
    }

    private void SetRoleSpecificSourcesAndProfile(UserRole userRole)
    {
        if (userRole == UserRole.Driver)
        {
            _homeLink = "drivers-job";
            _logoSource += "LogoDrive.png";
            _manageAccountLink = "manage-account-driver";
        }
        else if (userRole == UserRole.Dispatcher)
        {
            _homeLink = "my-drivers";
            _logoSource += "LogoDispatcher.png";
            _manageAccountLink = "manage-account-dispatcher";
        }
        else
        {
            _homeLink = "home";
            _logoSource += "logo-03.png";
        }
    }
}
