@font-face {
    font-family: 'LemonMilk';
    src: url('fonts/LEMONMILK-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

.top-bar
{
    width: 100vw;
    height: 8vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container
{
    width: 20vw;
    overflow: hidden;
    margin-left: 0.5vw;
}

.logo-container img
{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.nav-bar
{
    display: inline-flex;
    width: fit-content;
    gap: 0.5vw;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px 15px;
}

.nav-link
{
    width: fit-content;
    display: block;
}

::deep .nav-item
{
    font-family: 'LemonMilk', sans-serif;
    text-decoration: none;
    color: black;
}

::deep .nav-item.active
{
    font-family: 'LemonMilk', sans-serif;
    text-decoration: none;
    color: black;
}

.nav-link .pop-up-line
{
    width: 100%;
    height: 25%;
    background-color: #145F74;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.5s ease;
}

.nav-link:hover .pop-up-line
{
    transform: scaleY(1);
}

.nav-link .nav-item.active + .pop-up-line
{
    transform: scaleY(1);
}

.right-side-things
{
    display: inline-flex;
    gap: 1vw;
    align-items: center;
    margin-right: 1vw;
}

.right-side-things p
{
    font-family: LemonMilk, sans-serif;
    margin: 0;
}

.profile-menu
