@page "/drivers-job"
@using ApiContracts.Dtos.Job
@using ApiContracts.Enums
@using BlazorFleetApp.Services.Events
@using BlazorFleetApp.Services.Hubs
@using BlazorFleetApp.Services.Job
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject FleetHubClient FleetHub
@inject IJobService JobService
@implements IAsyncDisposable 
@attribute [Authorize]
@if (isLoading || job == null || job?.CurrentStatus is
         (JobStatus.Available or JobStatus.Expired or JobStatus.Completed))
{
    <h1>No job available, wait for your dispatcher</h1>
}
else
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8 mb-4">
                    <JobComponent InitialJob="@job" InitialDispatcherId="@job?.DispatcherId"></JobComponent>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="sticky-top" style="z-index: 1; top : 0;">
                        <ChatComponent DriverId="@id" DispatcherId="@job?.DispatcherId"/>
                    </div>
                </div>
            </div>
        </div>
    }
@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private int id;
    private JobDto? job;
    private string message = "";
    private bool isLoading = true;
    protected override async Task OnInitializedAsync()
    {
        if (State != null)
        {
            var authState = await State;
            var user = authState.User;

            if (user?.Identity?.IsAuthenticated ?? false)
            {
                id = int.Parse(user.Claims.FirstOrDefault(c => c.Type == "Id")?.Value ?? "0");
            }
        }

        await LoadJobAsync();
        await SetupFleetHubAsync();
        isLoading = false;
    }
    private async Task LoadJobAsync()
    {
        try
        {
            var allJobs = await JobService.GetAllAsync();
            job = allJobs.FirstOrDefault(j =>
                j.DriverId == id &&
                j.CurrentStatus != JobStatus.Completed &&
                j.CurrentStatus != JobStatus.Available &&
                j.CurrentStatus != JobStatus.Expired);

            message = "";
        }
        catch (Exception ex)
        {
            message = "Error loading jobs: " + ex.Message;
        }
    }
    
    private async Task SetupFleetHubAsync()
    {
        FleetHub.OnFleetEvent -= HandleFleetEvent;
        FleetHub.OnFleetEvent += HandleFleetEvent;

        if (id != 0)
            await FleetHub.JoinGroupAsync(id.ToString());
    }
    
    private async Task RefreshJobAsync()
    {
        isLoading = true;

        await LoadJobAsync();

        if (job?.CurrentStatus is JobStatus.Available
            or JobStatus.Completed
            or JobStatus.Expired)
        {
            job = null;
        }

        isLoading = false;
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandleFleetEvent(FleetEventType evt)
    {
        switch (evt)
        {
            case FleetEventType.JobsUpdated:
            case FleetEventType.JobAssigned:
            case FleetEventType.JobStatusChanged:
                await RefreshJobAsync();
                break;
        }
    }

    public async ValueTask DisposeAsync()
    {
        FleetHub.OnFleetEvent -= HandleFleetEvent;

        if (id != 0)
            await FleetHub.LeaveGroupAsync(id.ToString());
    }
}