@page "/driver-home"
@using ApiContracts.Dtos.Job
@using ApiContracts.Enums
@using BlazorFleetApp.Services.Job
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject IJobService JobService
@attribute [Authorize]

<PageTitle>Home</PageTitle>
<h1>
    Hello, @firstName @lastName <br/>
    @if (userRole != null)
    {
        @userRole
    }
</h1>
<DriverComponent InitialDriverId="id">
    <Component>
        <AssignJobComponent InitialDriverId="id" InitialDispatcherId="dispatcherId" InitialJobs="jobs"></AssignJobComponent>
    </Component>
</DriverComponent>
Welcome to Fleet Forward.
@code
{
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private string firstName = "User";
    private string lastName = "User";
    private UserRole? userRole;
    private int id;
    private int dispatcherId =22;
    private List<JobDto> jobs = new List<JobDto>();
    protected override async Task OnInitializedAsync()
    {
        if (State != null)
        {
            var authState = await State;
            var user = authState.User;

            if (user?.Identity?.IsAuthenticated ?? false)
            {
                firstName = user.Claims.FirstOrDefault(c => c.Type == "FirstName")?.Value ?? "User";
                lastName = user.Claims.FirstOrDefault(c => c.Type == "LastName")?.Value ?? "user";
                id = int.Parse( user.Claims.FirstOrDefault(c => c.Type == "Id")?.Value ?? "21");
                var roleClaim = user.FindFirst("Role")?.Value;
                if (!string.IsNullOrEmpty(roleClaim) &&
                    Enum.TryParse<UserRole>(roleClaim, true, out var parsedRole))
                {
                    userRole = parsedRole;
                }
            }
        }
        jobs = await JobService.GetAllAsync();
        StateHasChanged();
    }
}