@page "/home"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>
<h1>
    Hello, User
</h1>
Welcome to Fleet Forward.
@code
{
    private string firstName = "User";
    private string lastName = "User";
}