@page "/login"
@using System.Security.Claims
@using BlazorFleetApp.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization
@layout LoginRegisterLayout
@inject NavigationManager NavMgr
@inject AuthenticationStateProvider AuthProvider
@rendermode InteractiveServer

<link rel="stylesheet" href="css/loginStyle.css">

<AuthorizeView>
    <Authorized>
        <h2>You are already logged in!</h2>
    </Authorized>
    <NotAuthorized>
        <div class="logo-container">
            <img src="images/logo-03.png" alt="logo">
        </div>

        <h2 id="catch-phrase">BACK ON THE ROAD?!</h2>

        <div class="login-part">
            <input type="text" id="email-field" name="email-field" placeholder="Email" @bind="email"> <br>
            <input type="password" id="password-field" name="password-field" placeholder="Password" @bind="password"> <br>
            <a href="" @onclick="GoToForgotPassword">Forgot password?</a>
            <p id="error-message-popup">@_errorMessage</p>
            <input type="button" id="login-button" name="login-button" value="Log in" @onclick="LoginAsync">
            <p>Don't have an account? <a href="" @onclick="GoToRegister">Create account</a> </p>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code 
{
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private string email;
    private string password;
    private string _errorMessage = "";

    private void GoToRegister()
    {
        NavMgr.NavigateTo("register");
    }

    private void GoToForgotPassword()
    {
        NavMgr.NavigateTo("forgot_password");
    }

    private async Task LoginAsync()
    {
        _errorMessage = "";
        try
        {
            await ((Authentification.AuthProvider)AuthProvider).LoginAsync(email, password);
        }
        catch (Exception e)
        {
            _errorMessage = $"{e.Message}";
        }
        AuthenticationState authenticationState = await State;
        ClaimsPrincipal claimsPrincipal = authenticationState.User;
        if (claimsPrincipal is null || !claimsPrincipal.Identity.IsAuthenticated)
        {
            return;
        }

        IEnumerable<Claim> claims = claimsPrincipal.Claims;
        string userRoleAsString = claims.Single(c => c.Type == ClaimTypes.Role).Value;

        if (string.IsNullOrEmpty(userRoleAsString))
        {
            return;
        }

        if (userRoleAsString == "DISPATCHER")
        {
            NavMgr.NavigateTo("/dispatch-home");
        } else if (userRoleAsString == "DRIVER")
        {
            NavMgr.NavigateTo("/driver-home");
        }
    }
}