@page "/manage-account-dispatcher"
@using System.Text.RegularExpressions
@using ApiContracts.Dtos.Dispatcher
@using BlazorFleetApp.Services.Auth
@using BlazorFleetApp.Services.Dispatcher
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject IDispatcherService DispatcherService
@inject IAuthService AuthService
@attribute [Authorize]

<h3>Manage Account Dispatcher</h3>

@if (!string.IsNullOrEmpty(statusMessage))
{
    <div class="alert alert-success" role="alert">
        @statusMessage
    </div>
}

<div class="mb-3">
    <label class="form-label">Email</label>
    <InputText class="form-control" @bind-Value="email"/>
</div>

<div class="mb-3">
    <label class="form-label">Phone Number</label>
    <InputText class="form-control" @bind-Value="phoneNumber"/>
</div>

<div class="mb-3">
    <label class="form-label">First Name</label>
    <InputText class="form-control" @bind-Value="firstName"/>
</div>

<div class="mb-3">
    <label class="form-label">Last Name</label>
    <InputText class="form-control" @bind-Value="lastName"/>
</div>
<div class="mb-3">
    <label class="form-label">Current rate %</label>
    <input class="form-control" type="number" step="1"
           placeholder="Current rate"
           @bind="currentRate"/>
</div>
<button class="btn btn-primary mt-3" @onclick="Save">
    Save Changes
</button>

@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }

    private DispatcherDto? dispatcher;
    private string email = "";
    private string phoneNumber = "";
    private string firstName = "";
    private string lastName = "";
    private string statusMessage = "";
    private int userId = 0;
    private double currentRate = 0.0;


    private async Task Save()
    {
        try
        {
            if (dispatcher == null)
                return;

            statusMessage = "";
            List<string> errors = new();


            if (string.IsNullOrWhiteSpace(firstName))
                errors.Add("First name cannot be null or empty.");
            else if (firstName.Length < 3)
                errors.Add("First name must be at least 3 characters long.");
            else if (!Regex.IsMatch(firstName, "^[A-Za-z'-]+$"))
                errors.Add("First name contains invalid characters.");

            if (string.IsNullOrWhiteSpace(lastName))
                errors.Add("Last name cannot be null or empty.");
            else if (lastName.Length < 3)
                errors.Add("Last name must be at least 3 characters long.");
            else if (!Regex.IsMatch(lastName, "^[A-Za-z'-]+$"))
                errors.Add("Last name contains invalid characters.");
            
            if (string.IsNullOrWhiteSpace(email))
                errors.Add("Email cannot be null or empty.");
            else if (!Regex.IsMatch(email, @"^[^@\s]+@[^@\s]+\.[^@\s]+$"))
                errors.Add("Email format is invalid.");
            
            if (string.IsNullOrWhiteSpace(phoneNumber))
                errors.Add("Phone number cannot be null or empty.");
            else if (!Regex.IsMatch(phoneNumber, @"^\+?\d{1,3}([ -]?\d{2,4}){2,5}$"))
                errors.Add("Phone number format is invalid. Expected formats like +49 123 456 789 or +421-987-654-321.");
            
            if (currentRate <= 0)
                errors.Add("Current rate must be greater than 0.");


            if (errors.Any())
            {
                statusMessage = string.Join("\n", errors);
                return;
            }


            var updated = dispatcher with
            {
                Email = email,
                PhoneNumber = phoneNumber,
                FirstName = firstName,
                LastName = lastName,
                Id = userId,
                CurrentRate = currentRate/100
            };

            await DispatcherService.UpdateAsync(updated);
            await AuthService.RefreshTokenAsync();
            await LoadDispatcherDataAsync();
            statusMessage = "Dispatcher information updated successfully!";
            StateHasChanged();
        }
        catch (Exception e)
        {
            statusMessage = e.Message;
        }
    }


    protected override async Task OnInitializedAsync()
    {
        await LoadDispatcherDataAsync();
    }

    private async Task LoadDispatcherDataAsync()
    {
        if (State == null)
            return;
        var authState = await State;
        var user = authState.User;

        if (user?.Identity?.IsAuthenticated ?? false)
        {
            userId = user.FindFirst("Id")?.Value is string idStr && int.TryParse(idStr, out var id) ? id : 0;

            if (userId > 0)
            {
                dispatcher = await DispatcherService.GetSingleAsync(userId);

                if (dispatcher != null)
                {
                    email = dispatcher.Email;
                    firstName = dispatcher.FirstName;
                    lastName = dispatcher.LastName;
                    phoneNumber = dispatcher.PhoneNumber;
                    currentRate = dispatcher.CurrentRate *100;
                }
            }
        }
    }

}