@page "/my-drivers"
@implements IAsyncDisposable
@using ApiContracts.Dtos.Driver
@using ApiContracts.Dtos.Job
@using ApiContracts.Enums
@using BlazorFleetApp.Services.Events
@using BlazorFleetApp.Services.Job
@using BlazorFleetApp.Services.RecruitDriver
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavMgr
@inject IRecruitService RecruitService
@inject IJobService JobService
@attribute [Authorize]
<h3>My Drivers - Dispatcher</h3>


@if (isLoading)
{
    <p>Loading...</p>
}
else if (drivers == null || !drivers.Any())
{
    <p>No drivers available.</p>
}
else
{
    <div class="container-fluid">
        <div class="row">

            <!-- LEFT PANEL: Drivers list -->
            <div class="col-12 col-lg-8 mb-4">
                @foreach (var driver in drivers)
                {
                    var currentJob = jobs.FirstOrDefault(j =>
                        j.DriverId == driver.Id &&
                        j.CurrentStatus is not (JobStatus.Available or  JobStatus.Expired or  JobStatus.Completed));

                    <!-- Each DriverComponent is clickable -->
                    <DriverComponent InitialDriver="driver"
                                     InitialJob="currentJob"
                                     InitialDispatcherId="id"
                                     OnSelected="HandleDriverSelected">

                        <Component>
                            <AssignJobComponent
                                InitialDriver="driver"
                                InitialDispatcherId="@id"
                                DriverCurrentJob="currentJob"
                                InitialJobs="unassignedJobs">
                            </AssignJobComponent>
                        </Component>

                    </DriverComponent>
                }
            </div>

            <!-- RIGHT PANEL: Chat -->
            @if (selectedDriver != null)
            {
                <div class="col-12 col-lg-4">
                    <div class="sticky-top" style="top: 80px;">
                        <ChatComponent Driver="selectedDriver" DispatcherId="id"/>
                    </div>
                </div>
            }
        </div>
    </div>
}


@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private HubConnection? hubConnection;
    private List<DriverDto>? drivers;
    private bool isLoading;
    private List<JobDto> unassignedJobs = new();
    private int id;
    private List<JobDto> jobs = new List<JobDto>();
    private DriverDto? selectedDriver;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        if (State != null)
        {
            var authState = await State;
            var user = authState.User;

            if (user?.Identity?.IsAuthenticated ?? false)
            {
                id = int.Parse(user.Claims.FirstOrDefault(c => c.Type == "Id")?.Value ?? "0");
            }
        }

        await SetupHubAsync();
        await LoadDriversAsync();
        await LoadJobsAsync();
        isLoading = false;
    }
    private async Task SetupHubAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavMgr.ToAbsoluteUri("/fleethub"))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<FleetEventType>("FleetEvent", async (eventType) =>
        {
                switch (eventType)
                {
                    case FleetEventType.DriverStatusChanged:
                    case FleetEventType.DriversUpdated:
                    case FleetEventType.JobsUpdated:
                    case FleetEventType.JobAssigned:
                    case FleetEventType.JobStatusChanged:
                        await RefreshDriversAndJobsAsync();
                        break;
                }
        });

        await hubConnection.StartAsync();

        if (id != 0)
        {
            await hubConnection.InvokeAsync("JoinGroup", id.ToString());
        }
    }


    private async Task LoadDriversAsync()
    {
        drivers = await RecruitService.GetDriversForDispatcher(id);
    }

    private async Task LoadJobsAsync()
    {
        var allJobs = await JobService.GetAllAsync();
        jobs = allJobs.Where(j => j.DispatcherId == id).ToList();
        unassignedJobs = jobs.Where(j => j.CurrentStatus == JobStatus.Available).ToList();
    }
    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            if (id != 0)
                await hubConnection.InvokeAsync("LeaveGroup", id.ToString());

            await hubConnection.StopAsync();
            await hubConnection.DisposeAsync();
        }
    }

    private async Task RefreshDriversAndJobsAsync()
    {
        isLoading = true;
        drivers = await RecruitService.GetDriversForDispatcher(id);

        var allJobs = await JobService.GetAllAsync();
        jobs = allJobs.Where(j => j.DispatcherId == id).ToList();
        unassignedJobs = jobs.Where(j => j.CurrentStatus == JobStatus.Available).ToList();
        isLoading = false;
        await InvokeAsync(StateHasChanged);
    }
    private void HandleDriverSelected(DriverDto driver)
    {
        selectedDriver = driver;
        StateHasChanged();
    }
}