@page "/my-drivers"
@implements IAsyncDisposable
@using ApiContracts.Dtos.Driver
@using ApiContracts.Dtos.Job
@using ApiContracts.Enums
@using BlazorFleetApp.Services.Events
@using BlazorFleetApp.Services.Job
@using BlazorFleetApp.Services.RecruitDriver
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.SignalR
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavMgr
@inject IRecruitService RecruitService
@inject IJobService JobService
@attribute [Authorize]


@if (isLoading)
{
    <p>Loading...</p>
}
else if (drivers == null || !drivers.Any())
{
    <p>No drivers available.</p>
}
else
{
    <div class="container-fluid">
        <div class="row">

            <!-- LEFT PANEL: Drivers list -->
            <div class="col-12 col-lg-8 mb-4">
                @foreach (var driver in drivers)
                {
                    var currentJob = jobs.FirstOrDefault(j =>
                        j.DriverId == driver.Id &&
                        j.CurrentStatus is not (JobStatus.Available or JobStatus.Expired or JobStatus.Completed));
                    <DriverComponent InitialDriver="driver"
                                     InitialJob="currentJob"
                                     InitialDispatcherId="id"
                                     OnSelected="HandleDriverSelected">

                        <Component>
                            <AssignJobComponent
                                InitialDriver="driver"
                                InitialDispatcherId="@id"
                                DriverCurrentJob="currentJob"
                                InitialJobs="unassignedJobs">
                            </AssignJobComponent>
                        </Component>

                    </DriverComponent>
                }
            </div>

            <!-- RIGHT PANEL: Chat -->
            @if (selectedDriver != null)
            {
                <div class="col-12 col-lg-4">
                    <div class="sticky-top" style="z-index: 1; top : 0;">
                        <ChatComponent Driver="selectedDriver" DispatcherId="id"/>
                    </div>
                </div>
            }
        </div>
    </div>
}


@code {
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private HubConnection? hubConnection;
    private List<DriverDto>? drivers;
    private bool isLoading;
    private List<JobDto> unassignedJobs = new();
    private int id;
    private List<JobDto> jobs = new List<JobDto>();
    private DriverDto? selectedDriver;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;

        var authState = await State;
        var user = authState.User;

        if (user?.Identity?.IsAuthenticated ?? false)
        {
            id = int.Parse(user.Claims.FirstOrDefault(c => c.Type == "Id")?.Value ?? "0");

            if (id != 0)
            {
                await LoadDriversAsync();
                await LoadJobsAsync();
                await SetupHubAsync();
            }
        }

        isLoading = false;
    }
    private async Task SetupHubAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavMgr.ToAbsoluteUri("/fleethub"), options =>
            {
                options.AccessTokenProvider = async () =>
                {
                    var authState = await State;
                    var user = authState.User;
                    return user?.Claims.FirstOrDefault(c => c.Type == "access_token")?.Value;
                };
            })
            .WithAutomaticReconnect()
            .Build();
        hubConnection.On<FleetEventType>("FleetEvent", async (eventType) =>
        {
            if (eventType is
                FleetEventType.JobsUpdated
                or FleetEventType.JobStatusChanged
                or FleetEventType.JobAssigned
                or FleetEventType.DriversUpdated
                or FleetEventType.DriverStatusChanged
               )
            {
                await RefreshDriversAndJobsAsync();
            }
        });

        await hubConnection.StartAsync();

        try
        {
            if (id != 0)
                await hubConnection.InvokeAsync("JoinGroup", id.ToString());
        }
        catch (HubException ex)
        {
            Console.WriteLine($"Hub join failed: {ex.Message}");
        }

    }


    private async Task LoadDriversAsync()
    {
        drivers = await RecruitService.GetDriversForDispatcher(id);
    }

    private async Task LoadJobsAsync()
    {
        var allJobs = await JobService.GetAllAsync();
        jobs = allJobs.Where(j => j.DispatcherId == id).ToList();
        unassignedJobs = jobs.Where(j => j.CurrentStatus == JobStatus.Available).ToList();
    }
    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            if (id != 0)
                await hubConnection.InvokeAsync("LeaveGroup", id.ToString());

            await hubConnection.StopAsync();
            await hubConnection.DisposeAsync();
        }
    }

    private async Task RefreshDriversAndJobsAsync()
    {
        isLoading = true;
        var allJobs = await JobService.GetAllAsync();
        jobs = allJobs.Where(j => j.DispatcherId == id).ToList();
        unassignedJobs = jobs.Where(j => j.CurrentStatus == JobStatus.Available).ToList();
        isLoading = false;
        await InvokeAsync(StateHasChanged);
    }
    private async Task HandleDriverSelected(DriverDto driver)
    {
        selectedDriver = driver;
        await InvokeAsync(StateHasChanged);
    }
}