@page "/recruit-driver"
@using ApiContracts.Dtos.Driver
@using ApiContracts.Dtos.Job
@using ApiContracts.Enums
@using BlazorFleetApp.Services.Events
@using BlazorFleetApp.Services.Job
@using Microsoft.AspNetCore.Components.Authorization
@using Services.RecruitDriver
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavMgr
@implements IAsyncDisposable
@inject IRecruitService RecruitService
@inject IJobService JobService

<h3>Recruit Driver - Dispatcher</h3>

@if (isLoading)
{
    <p>Loading...</p>
}
else if (drivers == null || !drivers.Any())
{
    <p>No drivers available.</p>
}
else
{
    @foreach (var driver in drivers)
    {
        var currentJob = jobs.FirstOrDefault(j => j.DriverId == driver.Id);
        <DriverComponent InitialDriverId="driver.Id" InitialDispatcherId="id" InitialJob="currentJob">
            <Component>
                <RecruitComponent InitialDriver="driver" InitialDispatcherId="id"></RecruitComponent>
            </Component>
        </DriverComponent>
    }
}

@code {
    private List<DriverDto>? drivers;
    private bool isLoading;
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    private int id;
    private HubConnection? hubConnection;
    private List<JobDto> jobs = new List<JobDto>();

    protected override async Task OnInitializedAsync()
    {
        if (State != null)
        {
            var authState = await State;
            var user = authState.User;

            if (user?.Identity?.IsAuthenticated ?? false)
            {
                id = int.Parse(user.Claims.FirstOrDefault(c => c.Type == "Id")?.Value ?? "0");
            }
        }

        await LoadJobsAsync();
        await LoadDriversAsync();
        await SetupHubAsync();
    }
    private async Task SetupHubAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavMgr.ToAbsoluteUri("/fleethub"))
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<FleetEventType>("FleetEvent", async (eventType) =>
        {
            if (eventType == FleetEventType.DriversUpdated || eventType == FleetEventType.DriverStatusChanged)
            {
                await LoadDriversAsync();
            }
        });

        await hubConnection.StartAsync();

        if (id != 0)
        {
            await hubConnection.InvokeAsync("JoinGroup", id.ToString());
        }
    }
    private async Task LoadJobsAsync()
    {
        var allJobs = await JobService.GetAllAsync();
        jobs = allJobs.Where(j => j.CurrentStatus != JobStatus.Available || j.CurrentStatus != JobStatus.Expired).ToList();
    }
    private async Task LoadDriversAsync()
    {
        isLoading = true;
        await InvokeAsync(StateHasChanged);
        drivers = await RecruitService.GetDrivers();

        isLoading = false;
        await InvokeAsync(StateHasChanged);
    }
    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null && id != 0)
        {
            await hubConnection.InvokeAsync("LeaveGroup", id.ToString());
            await hubConnection.StopAsync();
            await hubConnection.DisposeAsync();
        }
    }
}
