@page "/TestPhotoUrl"
@layout MainLayout
@using BlazorFleetApp.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthProvider
<h3>TestPhotoUrl</h3>
<img src="@_userPhoto" alt="">
@code {
    private int _userId;
    private string _userPhoto;
    [CascadingParameter] public Task<AuthenticationState> State { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        if (State != null)
        {
            var authState = await State;
            var user = authState.User;

            if (user?.Identity?.IsAuthenticated ?? false)
            {
                _userId = int.Parse(user.Claims.FirstOrDefault(c => c.Type == "Id")?.Value ?? "0");
                _userPhoto = user.Claims.FirstOrDefault(c => c.Type == "PhotoUrl")?.Value ?? "";
            }
        }

        if (string.IsNullOrEmpty(_userPhoto))
        {
            _userPhoto = "images/reddot.png";
        }
    }
}